@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Happy Learn MVC</h1>
    <p class="lead">KEN 說過:把當每天晚上陪MVC，當作是陪女朋友，就不會覺得累了.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

